:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  color-scheme: dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  display: block; 
}
html {
  scroll-behavior: smooth; 
}
#root {
  width: 100%;
  min-height: 100vh;
}
.hover-effect {
  transition: transform 0.3s ease; 
}
.hover-effect:hover {
  transform: scale(1.03); 
  z-index: 10; 
}